.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--gray-a5);
  padding: 1rem 0;
  background: var(--color-background);
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  flex: 1;
  padding: 2rem 0;
}

