.form {
  width: 100%;
}

.errorMessage {
  padding: 12px;
  background: var(--red-a2);
  border-radius: var(--radius-3);
  border: 1px solid var(--red-a4);
}

.successMessage {
  padding: 12px;
  background: var(--green-a2);
  border-radius: var(--radius-3);
  border: 1px solid var(--green-a4);
}

